# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

staging-parameters.json
prod-1-parameters.json
prod-2-parameters.json

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Logs
logs
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# .tfvars sensitive data
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# dotenv environment variable files
.env
.env.**.dev

launch-script.sh